

<div class="container-form-sub">
  <h1>Create a new rental</h1>


  <div class="new_form">
    <%= simple_form_for(@offering) do |f| %>
      <%= f.input :title %>
      <%= f.input :available, disabled: false %>
      <%= f.input :description %>
      <%= f.input :property_type %>
      <%= f.input :price_per_night %>
      <%= f.input :size %>
      <%= f.input :address, as: :string %>
      <%= f.input :city, as: :string %>
      <%= f.input :country, as: :string %>
      <%= f.submit %>
    <% end %>
  </div>


  <div class="file-upload">
    <div class="file-select">
      <div class="file-select-button" id="fileName">Choose File</div>
      <div class="file-select-name" id="noFile">Please import here your pictures</div>
      <input type="file" name="chooseFile" id="chooseFile">
    </div>
  </div>


</div>
