<%= render 'components/navbar' %>

<div class="show-container">

  <div class="container overflow-hidden">

    <div class="row" style="height: 440px">
      <div class="p-3 col-4 h-100">
        <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&2')"></div>
      </div>

      <div class="col-4 h-100 row">

        <div class="p-3 h-50 w-100 col-12">
          <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&3')"></div>
        </div>

        <div class="px-3 py-3 h-50 w-50 col-6">
          <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&4')"></div>
        </div>

        <div class="px-3 py-3 h-50 w-50 col-6">
          <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&5')"></div>
        </div>
      </div>

      <div class="p-3 col-4 h-100">
        <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&6')"></div>
      </div>
    </div>
  </div>
  <div class="show-data">
    <div class="show-info">
      <div class= "property-infos">
        <p id="property-type">Property type: <%= @offering.property_type %></p>
        <h2>This is the title of my property</h2>
        <h3><%= @offering.size %> guests • 6 bedrooms • 4 bathrooms • sauna</h3>
        <p id="show-description"><%= @offering.description %> An ideal magical place to gather, the splendid chalet overlooks the city with a magnificent view of mountains near the ski resort.
          On 3 levels, with an area of 254m², the chalet benefits from 6 bedrooms, 4wc, 3 baths
          This proprity features a games room, sauna and outdoor spa.
          This magical place are ideally designed to accommodate 14 people.
        </p>
      </div>
    </div>
    <div class="show-reservation">
      <div class= "property-infos">
      <div class="price-rating">
        <div class="price-night">
          <span class="price">€<%=@offering.price_per_night %></span>
          <span class="night"> / night</span>
        </div>
        <div class="rating-night">
          <% @offering.average_rating.to_i.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          <%= @offering.average_rating %>
        </div>
      </div>
         <% if user_signed_in? %>
          <% if @offering.user_id == current_user.id %>
            <div class="reserve-button"><%= link_to "Update", edit_offering_path(@offering) %></div>
          <% else %>
            <div class="reserve-button"><%= link_to "New booking", new_offering_booking_path(@offering) %></div>
          <% end %>
        <% else %>
          <a class="reserve-button" href="#reservefuntion">Reserve now</a>
        <% end %>
    </div>
  </div>
</div>
