<%= render 'components/navbar' %>
<div class="booking-container">
  <div class="bookings-container">
    <h2>My bookings</h1>
    <%# bookings the current user has made %>
    <div class="booking-info">
      <% @my_bookings.each do |booking| %>
        <div class= "booking-card">
          <div class="booking-card-top">
            <img class="booking-img" src="https://source.unsplash.com/random/?home&<%= rand(1...100) %>">
            <div class="booking-title-date">
              <p id="booking-title"><%= booking.offering.title %></p><p id="booking-date"><%= booking.start_date.strftime('%d %B, %Y') %> <i class="fa-sharp fa-solid fa-arrow-right"></i> <%= booking.end_date.strftime('%d %B, %Y') %></p>
            </div>
          </div>
          <div class="booking-card-bottom">
            <div class="booking-host">
              <p id="host">Host: <%= booking.offering.user.first_name %> <%= booking.offering.user.last_name %> | Review </p>
            </div>
            <div class="booking-status">
              <% if booking.pending %>
                <p id="pending">Pending</p>
              <% else %>
                <% if booking.accepted %>
                  <p id="accepted">Accepted</p>
                <% else %>
                  <p id="declined">Declined</p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="rentals-container">
    <div class="rental-info">
      <h2>My rental requests</h1>
      <% @my_offering_bookings.each do |booking| %>
        <p>Host: <%= booking.offering.user.first_name %> <%= booking.offering.user.last_name %></p>
        <p><%= booking.offering.title %> | <%= booking.start_date %> - <%= booking.end_date %></p>
        <% if booking.pending %>
          <%= link_to "Accept", update_status_path(status: "accept", booking: booking.id) %>
          <%= link_to "Decline", update_status_path(status: "decline", booking: booking.id) %>
        <% else %>
          <% if booking.accepted %>
            <p>Accepted</p>
          <% else %>
            <p>Declined</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'components/footer' %>




    <%# <%= link_to "review", new_booking_review_path(booking) %>
    <%# <h3>your revies</h3> %>
    <%# <% booking.reviews.each do |review| %>
      <%# <div> %>
        <%# <%= review.comment %>
        <%# <%= review.rating %>
        <%# <%= link_to "Delete Review", review_path(review), data: {turbo_method: :delete} %> %>
      <%# </div> %>
    <%# <% end %>
