<%= render 'components/navbar' %>
<div class="container">
  <h1>My bookings</h1>
  <%# bookings the current user has made %>
  <% @my_bookings.each do |booking| %>
    <p>Host: <%= booking.offering.user.first_name %> <%= booking.offering.user.last_name %></p>
    <p><%= booking.offering.title %> | <%= booking.start_date %> - <%= booking.end_date %></p>
    <% if booking.pending %>
      <p>Pending</p>
    <% else %>
      <%= booking.accepted ? "Accepted" : "Declined"%>
    <% end %>

    <%= link_to "review", new_booking_review_path(booking) %>
    <h3>your revies</h3>
    <% booking.reviews.each do |review| %>
      <div>
        <%= review.comment %>
        <%= link_to "Delete Review", review_path(review), data: {turbo_method: :delete} %>
      </div>
    <% end %>


    <p>--------------------------</p>

  <% end %>

  <h1>My rental requests</h1>
  <% @my_offering_bookings.each do |booking| %>
    <p>Host: <%= booking.offering.user.first_name %> <%= booking.offering.user.last_name %></p>
    <p><%= booking.offering.title %> | <%= booking.start_date %> - <%= booking.end_date %></p>
    <% if booking.pending %>
      <%= link_to "Accept", update_status_path(status: "accept", booking: booking.id) %>
      <%= link_to "Decline", update_status_path(status: "decline", booking: booking.id) %>
    <% else %>
      <% if booking.accepted %>
        <p>Accepted</p>
      <% else %>
        <p>Declined</p>
      <% end %>
    <% end %>

  <% end %>
</div>
<%= render 'components/footer' %>
