<div class="container-form-sub body-form">
  <h1>Create a new booking</h1>

  <div class="new_form">
    <%= simple_form_for [@offering, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true%>
      <%= f.submit %>
    <% end %>
  </div>

</div>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @booking.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<br>
<li class="list-group-item">
  <%= review.content %>
  <%= link_to "Delete",
    review_path(review),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</li>
